{{ $highlight_author := .Params.highlight_author }}
<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  
  <!-- Publication Title -->
  <div class="pub-title font-bold">
    <a href="{{ .RelPermalink }}" class="underline">{{ .Title }}</a>
  </div>
  
  <!-- Publication Venue and Date -->
  <div class="pub-venue-date text-gray-600">
    {{ if .Params.publication_short }}
      {{ .Params.publication_short | markdownify }}
    {{ else if .Params.publication }}
      {{ .Params.publication | markdownify }}
    {{ end }}
    ({{ .Date.Format "2006" }})
  </div>
  
  <!-- Authors List -->
  <div class="pub-authors text-gray-800">
    {{ range $index, $author := .Params.authors }}
      {{ if ne $index 0 }}, {{ end }}
      {{ if eq $author $highlight_author }}
        <span class="font-bold">{{ $author }}</span>
      {{ else }}
        {{ $author }}
      {{ end }}
    {{ end }}
  </div>

  <!-- Attachments, if available -->
  {{ if partial "functions/has_attachments" . }}
    <div class="flex flex-wrap space-x-3 mt-2">
      {{ partial "page_links" (dict "page" . "is_list" 1) }}
    </div>
  {{ end }}
</div>